.promo {
    background-color: #073042;
    width: 100%;
    margin: 0 auto;
    padding: 75px 0 75px;
    display: flex;
  }
  
  @media (max-width: 800px) {
    .promo {
      padding: 140px 0 10px;
      flex-direction: column;
      align-self: center;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 400px) {
    .promo {
      padding: 70px 0 30px;
    }
  }

  .promo__logo {
    width: 310px;
    height: 304px;
    background: url(../../images/promo-logo2.svg) no-repeat center center/contain;
    margin: 0 auto;
  }
  
  @media (max-width: 400px) {
    .promo__logo{
      width: 210px;
      height: 206px;
    }
  }

  .promo__title {
    margin: 0;
    padding: 0;
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #fff;
  }
  
  @media (max-width: 800px) {
    .promo__title {
      max-width: 680px;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
    }
  }
  
  @media (max-width: 400px) {
    .promo__title {
      max-width: 300px;
      font-size: 30px;
      line-height: 38px;
      text-align: center;
    }
  }
  
  .promo__subtitle{
      margin: 0;
      padding: 0;
      padding-top: 36px;
      width: 310px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
  }

  @media (max-width: 800px) {
    .promo__subtitle {
      max-width: 260px;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      align-self: center;
    }
  }
  
  .promo__button{
      margin: 0 auto;
      margin-top: 146px;
      padding: 10px;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      background-color: #073042;
      cursor: pointer;
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      width: 129px;
      height: 36px;
  }

  @media (max-width: 800px) {
    .promo__button {
      align-self: center;
    }
  }

  .promo__button:hover{
    transform: scale(1.05);
  }

  .promo__textBlock{
      margin: 0 auto;
      padding: 0;
      max-width: 640px;
  }

  @media (max-width: 800px) {
    .promo__textBlock {
      max-width: 680px;
    }
  }
  
  @media (max-width: 400px) {
    .promo__textBlock {
      max-width: 300px;
    }
  }