.promo {
    background-color: #073042;
    width: 100%;
    margin: 0 auto;
    padding: 75px 0 75px;
    display: flex;
  }
  
  .promo__logo {
    width: 310px;
    height: 304px;
    background: url(../../images/promo-logo2.svg) no-repeat center center/contain;
    margin: 0 auto;
  }
  
  .promo__title {
    margin: 0;
    padding: 0;
    width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #fff;
  }
  
  .promo__subtitle{
      margin: 0;
      padding: 0;
      padding-top: 36px;
      width: 310px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
  }
  .promo__button{
      margin: 0 auto;
      margin-top: 146px;
      padding: 10px;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      background-color: #073042;
      cursor: pointer;
  }
  .promo__textBlock{
      margin: 0 auto;
      padding: 0;
      max-width: 640px;
  }